*/
Joel Avery
Andrew Danielson
Tabark Kambal
Gabriel Pedraza Torres
CSD 460 - Software Development CAPSTONE
*/
.Logo-Name {
    font-family: 'Lora', serif;
    color: tan;
    text-align: center;    
}
.Landing.Page.Banner {
    background-color: #41240d; /* To compliment the primary color */
    color: #fff;
    text-align: left;
    padding: 10px;
}